<div class="container" >

  <div class="jumbotron">

    <div class="col text-center">

          <h1 class="display-4">Acerca de "Tienda UAM"</h1>
          <br>
          <hr>
          <p class="lead">Ubicación:</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95265.2275011847!2d-75.57123218623457!3d5.124732364534143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e476f8c1179651b%3A0x18322787cebd6883!2sUniversidad%20Aut%C3%B3noma%20de%20Manizales!5e0!3m2!1ses-419!2sco!4v1606459082070!5m2!1ses-419!2sco" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          <br> <br>
          <p class="lead">Teléfono: (+57) 3178954167</p>
          <p class="lead">Em@il: tiuam@autonoma.edu.co</p>
          <p class="lead">Universidad Autónoma de Manizales</p>
          <p class="lead">2020</p>
          <a class="btn btn-primary btn-lg" href="**" role="button">Ir a Inicio ...</a>

          <!-- <ul class="list-group">
            <li class="list-group-item active">Contribuidores:</li>
            <li class="list-group-item">Miguel Ángel Arias</li>
            <li class="list-group-item">Juan David Marulanda</li>
            <li class="list-group-item">Andres Ladino</li>
            <li class="list-group-item">Hernán José Romero</li>
          </ul> -->

    </div>

  </div>

</div>
