<div class="container" >
    <div class="jumbotron">
      <h1 class="display-4">Página de About</h1>
      <p class="lead">Acá se escriben cosas</p>
      <hr class="my-4">
      <p>Una descripción or something</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">No funciona... aún</a>
      </p>
    </div>
    <div class="jumbotron">
      <ul class="list-group">
        <li class="list-group-item active">Este es un list-group</li>
        <li class="list-group-item">Item 1</li>
        <li class="list-group-item">Item 2</li>
        <li class="list-group-item">Item 3</li>
        <li class="list-group-item">Item 4</li>
      </ul>
    </div>
  </div>
