<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="card-columns" >
      <div class="col text-center">
      <div class="card" style="width: 18rem;" *ngFor="let Item of items; let i = index">
        <img src="{{Item.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{Item.name}}</h5>
          
          <a [routerLink]="['/Item',i]" class="btn btn-primary">ver mas</a>
        </div>
      </div>
    </div>
      </div>
    </div>

</div>

